/* 全局控制 */
*{
 margin: 0;/* 外间距 */
 padding: 0;/* 内间距 */
 border: 0;/* 边框粗细 */
}
.text-muted{color:#777;}
.text-xs{font-size:12px;}
body{
 background-image: url("../img/form_bg.jpg");
 background-size:100% 100%;
}
form{
 width: 600px;
 height: auto;
 background-color: aqua;
}
form h2{color: orange;text-align: center;}
form div{
 margin-top: 20px;
}
#top-grrk{
	    background: url(https://www.pohaier.com/usr/plugins/AliceStyle/static/img/HorseRaceLamp.gif);
	    height: 2px;
	    top: 0px;
	    position: fixed;
	    width: 100%;
	    Z-index: 10000;
}